@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Controlling a-links colours in their different states */
a {
  text-decoration: none;
}

/* Unvisited link  */
a:visited {
  color: #493a37;
}

/* Visited link    */
a:hover {
  color: white;
}

/* Mouse over link */
a:active {
  color: black;
}

#footerLink {
  margin: 0px 5px;
}
